<% present current_user do |user_presenter| %>
<div id='user_nav'>
  <nav class = 'navbar nav-top'>
    <div class='container-fluid'>
      <div class = 'navbar-header'>
        <%= image_tag 'danish_flag.gif', class: 'navbar-brand logo' %>
        <a class = 'navbar-brand' href="<%=user_timeline_path(current_user)%>">Danebook</a>

          <%= form_tag user_search_path(:id => current_user.id), method: :post, class: 'form-inline' do %>
              <%= text_field_tag :search, nil, placeholder: 'Search for users', id: 'top-search', class: 'awesomeplete form-control', list: 'mylist' %>
            <datalist id='mylist'>
              <% User.all.map{|user| user.profile.fullname}.each do |name|%>
                <option><%= name %></option>
              <% end %>
            </datalist>
              <%= submit_tag 'Search', class: 'btn btn-sm btn-default' %>

              <%= link_to 'Sign Out', session_path(current_user), method: :delete, class: 'navbar-right' %>
              <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => '#invites', class: 'navbar-right' do %>
                <%= "#{user_presenter.fullname}" %>
                <span class="badge">   <%= current_user.invite_count %></span>
              <% end %>
      </div>
    </div>
  </nav>
        <% end %>

  <div class = "container">


    <div class = "row">
      <div class = "col-sm-8" id = "top-content">
        <!-- Main Content -->
        <%= image_tag 'hogwarts_small.jpg', id: 'jumbotron-img' %>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class = "row">
      <div class = "col-sm-2">
        <% if get_user.profile.profile_photo_id.nil? %>
            <%= image_tag 'harry_potter_small.jpg', id: 'user-img', alt: 'No Pic Loaded' %>
        <% else %>
            <%= image_tag Photo.find(get_user.profile.profile_photo_id).photo.url(:medium) %>
        <% end %>
      </div>

      <div class = "col-sm-8" id = "content-nav">
        <br /><br /><br />
        <h1 style="color: #FFFFFF;">
          <%= get_user.profile.fullname %>
          <%= user_presenter.friend_button %>
        </h1>
        <br /><br />

        <ul class = "nav nav-justified" id = "content-menu">
          <li><a href = "<%= user_timeline_path(current_user) %>">Timeline</a></li>
          <li><a href = "<%= user_path(current_user) %>">About</a></li>
          <li><a href = "<%= new_user_photo_path(current_user) %>">Photos  <span class="badge"><%= get_user.photos.count %></span></a></li>
          <li><a href = "<%= user_friends_path(current_user) %>">Friends  <span class="badge"><%= get_user.friends.count %></span></a></li>
        </ul>
      </div>
      <div class = "col-sm-2">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <% if current_users_page? %>
          <a href = "<%= edit_user_path(current_user) %>" id = "edit-profile">Edit Profile</a>
        <% end %>

      </div>
    </div>

    <br />


<%= render partial: 'modalinvites', locals: {:invites => current_user.pending_invites} %>
<% end %>
<div class = "row">
  <div class = "col-sm-1">
  </div>
  <div class = "col-sm-10" id = "main-header">
