<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <div class="alert alert-success">
      <div>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= type.titleize %>! <%= message %></strong>
      </div>
    </div>
  <% end %>

  <%= render partial: "shared/navbar#{params[:controller]}" %>

  <%= yield %>

</body>
</html>
